.App {
  /* text-align: center; */
  height: 100vh;
  box-sizing:content-box;
  /* padding: 0 1rem; */
  padding: 0;
}

body{
  /*
    format: --color-name-layer
    higher layer => closer to eye 
    */
  --card: #F4F5FB;
  --primary: #0894D3;
  --primary-active: #546E7A;
  --primary-hover: #59a1d8;
  --blue: #0894D3;
  --dark-gray: #2F313C;
  --red: #BE0E19;
  --shadow-1: 1px 1px 1px rgba(96, 105, 228, 0.39);
  /* background-color: var(--off-white-0); */
  background-color: #D0E8F3;
  font-size: calc(1.5vh + 5pt);
  color: var(--blue);
  font-weight: 500;
  line-height: 1.25em;
  color: var(--blue);
}

body *{
  /* border: 1px solid tomato; */
}

header{
  /* padding: 0.5rem 1rem; */
  margin: 0;
  background-color: var(--dark-gray);
  padding: 0 2rem;
}
.exhibit{
  padding: 2rem 2rem;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 1rem 0;
  color: var(--red);
}
header h1{
  color: var(--blue);
}
.ip-container{
  padding: 0.25rem 0;
}
.latency-container{
  padding: 1rem 0;
}
.latency-bar{
  width: 100%;
  height: 10px;
  background-color: #CFD8DC;
  border-radius: 1rem;
}
.latency-bar > div {
  /* width: 33%; */
  height: 10px;
  background-color: rgb(147, 206, 88);
  border-radius: 1rem;
  transition: width 0.5s;
}

